body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainView {
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.compose {
 padding: 7px 10px;
 display: flex;
 align-items: center;
 background: #282c34;
 border-top: 1px solid #47484A;
 position: fixed;
 width: 100vw;
 bottom: 0px;
 color: white;
}

.send {
  background: transparent;
  border: none;
  color: inherit;
  border-radius: 50%;
  outline: none;
  transition: 0.7s;
  margin-right: 2vw;
}

.send:hover{
  background: #1C1D20;
}

.center {
  margin-left: 15%;
}

.input {
  flex: 4;
  border: none;
  font-size: 14px;
  height: 30px;
  background: none;
  overflow: auto;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
}

.input::placeholder {
  opacity: 0.7;
}

/* ============================================================================= */
.messagesView {
  overflow: auto;
  height: 100%;
}

.messageContiner {
  width: 100%;
  display: inline-block;
}

.message {
  background: black;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 14px;
  width: fit-content;
  max-width: 70%;
  margin: 1px 15px;
  overflow-wrap: break-word
}

.mine {
  background: #007aff;
  color: inherit;
  float: right;
}
